@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pacifico&display=swap");
* {
  font-family: "Roboro" sans-serif;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/foondo.png);
  background-attachment: fixed;
  overflow-x: hidden;
  box-sizing: border-box; }

h1 {
  font-family: "Bebas Neue", cursive;
  color: #161515; }

h2 {
  font-family: "Titillium Web", sans-serif;
  color: #161515; }

h3 {
  font-family: "Roboto", sans-serif; }

p {
  font-family: "Amatic SC", cursive;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #161515;
  font-weight: 400; }

header {
  width: auto;
  width: 98vw;
  margin: auto; }

.pie {
  padding: 10px 0;
  text-align: center; }

.pie a {
  text-decoration: none; }

.pie__icon--sm {
  width: 60px; }

.pie__titulo--md {
  font-size: 1rem; }

.encabezado__box--white {
  background-color: white;
  text-align: center;
  padding: 5px 0; }

.text-center {
  text-align: center;
  font-size: 3rem;
  box-sizing: border-box;
  margin: 30px auto; }

.bg-violet {
  background-color: #C8B6CE; }

#productos h1
#productos h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 20px 0;
  background-color: #C8B6CE;
  font-family: 'Roboto Flex', sans-serif;
  margin: 20px 0; }

#productos .destacados article {
  background-color: #6B49C2;
  display: flex;
  align-items: center; }

#productos .destacados article p {
  font-size: fontMdd;
  line-height: 2.5rem;
  padding: 50px;
  margin: 20px auto;
  color: white; }

#productos .destacados article h3 {
  color: #161515;
  font-size: 2rem;
  padding-left: 60px;
  font-family: "Roboto", sans-serif; }

.btnXl {
  width: 30%;
  height: 30px;
  background-color: white;
  color: darkviolet;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 50px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

/*definimos el grid layout - 1 col y row auto*/

/*nombres de las areas del layout*/

#header {
  grid-area: header; }

#productos {
  grid-area: productos; }

#footer {
  grid-area: pie; }

/*media queries*/
/* min-width: 768 definicion 2 cols y 5 rows*/

@media (min-width: 1024px) {
  /*achico el tamaña de las img del aside al 70%*/ }

@media (min-width: 1024px) {
  #img {
    margin: auto auto; } }

footer {
  background-color: #5d4263;
  padding: 6px 0;
  text-align: center;
  color: #C8B6CE; }
