*{
	font-family: $fontMain;
}

p{
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 2em;
	@media (min-width: 768px){
		font-size: 1.4em;
	}
}

code{
	font-size: 1em;
	margin-bottom: 1em;
}

h3{
	font-size: 2em;
	margin-top: 10px;
}


.card{
	height: 500px;
}

